.Footer {
  display: flex;
  background: rgb(19, 19, 19);
  justify-content: center;
  box-shadow: 0px -2px 8px 0px rgba(19, 19, 19, .5);

  .Footer-Contact {
    display: flex;
    align-items: center;
    text-align: left;
    padding: 1em 1em 1em 1em;

    &:first-child {
      padding: 1em 1em 1em 0em;
    }

    &:last-child {
      padding: 1em 0em 1em 1em;
    }

    img {
      line-height: 1.2em;
      padding-right: .75em;
      max-width: 30px;
      height: auto;
      width: 100%;
      opacity: .3;
    }

    i {
      line-height: 1.2em;
      padding-right: .75em;
      font-size: 1.2em;
      color: #6565652b;
    }

    .navigation-title {
      color: #c8c8c852;
      font-size: .95em;
      font-weight: 300;
      text-decoration: none;
      font-family: $fontIndustryBook;
      line-height: 1;
      opacity: 1;
      transition: all .5s ease;
      letter-spacing: .05em;

      &:hover {
        opacity: .5;
      }
    }
  }

  @media (max-width: $break-700px) {

    .Footer-Contact {
      padding: 1em .5em 1em .5em;

      &:last-child {
        padding: 1em 0em 1em .5em;
      }

      i {
        font-size: .9em;
      }

      .navigation-title {
        font-size: .8em;
      }
    }
  }


  @media (max-width: $break-550px) {
    flex-direction: column;
    .Footer-Contact {
      width: 100%;
      padding: .75em .75em .75em .75em;
      border-top: #ffffff05 solid 1px;
      text-align: center;
      justify-content: flex-end;

      &:last-child {
        padding: .75em .75em .75em .75em;
      }
    }
  }

}
