@import url('https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto+Condensed|Roboto:300,400');

@font-face {
  font-family: 'BebasNeue';
  src: local('BebasNeue'), url('/src/assets/fonts/BEBAS___.ttf') format('ttf');
}
@font-face {
  font-family: 'Industry-Light';
  src: local('Industry-Light'), url('/src/assets/fonts/Industry-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Industry-Demi';
  src: local('Industry-Demi'), url('/src/assets/fonts/Industry-Demi.ttf') format('ttf');
}
@font-face {
  font-family: 'Industry-Book';
  src: local('Industry-Book'), url('/src/assets/fonts/Industry-Book.ttf') format('ttf');
}

$fontRoboto: 'Roboto', sans-serif;
$fontRobotoCond: 'Roboto Condensed', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$fontBebasRegular: 'BebasNeue', sans-serif;
$fontIndustryLight: 'Industry-Light', sans-serif;
$fontIndustryDemi: 'Industry-Demi', sans-serif;
$fontIndustryBook: 'Industry-Book', sans-serif;


$break-large: 825px;
$break-960px: 960px;

$dark-blue: #21222D;
$orange: #F18805;
$light-blue: #34a0e2;
$light-gray: #c8c8c8;

@import './containers/App/App';
@import './containers/Hero/Hero';
@import './containers/FeaturedContainer/FeaturedContainer';
@import './containers/FeaturedProject/FeaturedProject';
@import './containers/ProjectContainer/ProjectContainer';
@import './containers/SideBar/SideBar';

@import './components/Loading/Loading';


* {
  box-sizing: border-box;
}

html {
  background: #373737;
  height: 100%;
  width: 100%;    // background: url('./assets/images/Dirt.png');
  background: linear-gradient(0deg, rgba(19, 19, 19, .97), rgba(19, 19, 19, .97)), url('./assets/images/Dirt.png') repeat;
  background-size: cover;
}

body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $fontRoboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
